@charset "utf-8";
@import url(reset.css);

.row { max-width:1167px; margin:0 auto;}

.skip a { 
    background:#000; /*tab키-본문 바로가기*/
    color:#fff;
    display:block;
    font-size:12px;
    text-align:center;
    width:1px; height:1px;
    overflow:hidden;
    position: absolute;
    top:-100px;
}
.skip a:focus {
    width:100%; height:auto;
    padding:10px 0;
    top:0;
    position:fixed;
    z-index:999999;
}

#header { position: fixed; 
    width:100%; top:0; left:0;
    background:#fff; 
    z-index:9999;
    box-shadow:0 2px 2px rgb(247, 247, 247);
}
.topmenu { background:#f76f6f; 
    color:rgba(255,255,255,0.7);
    font-family:'맑은고딕';
    padding:10px 0;
    letter-spacing:-0.5px;
    position:relative;
}
.topmenu a {transition: all 0.5s}
.topmenu a:hover {color:rgba(255,255,255,1)}

.topmenu .sns a { padding-right:10px; 
    font-size:12.2px;
}
.topmenu .sns a:first-child span { font-size:11px; }

.topmenu .login { position:absolute;
    top:10px; right:350px;
    color:#000;
}
.topmenu .login a { padding-left:10px;
    font-size:11px; 
}

.logoNav { position:relative;
    height:76px; 
}
.logoNav h1 { font-size:26.25px;
    color:#ffae3d;
    line-height:76px;
    font-weight:bold;
}
.logoNav .nav { position:absolute;
    top:0; right:0;
}
.logoNav .nav .depth1 > li { display:inline-block;
    font-size:15.75px;
    font-weight:bold;
    line-height:76px;
    padding-left:20px;
    transition:all 0.5s;
    position:relative;
}
.logoNav .nav .depth1 > li:first-child { color:#FFd23c }
.logoNav .nav .depth1 > li > a:after {
    content:'\f107';
    font-family:'Font Awesome 5 Free';
    font-weight:900;  
    color:#ddd;
    padding-left:10px;
}
.logoNav .nav .depth1 > li:first-child > a:after { display:none; }
.logoNav .nav .depth1 > li:nth-child(5) > a:after { display:none; }
.logoNav .nav .depth1 > li > a:hover { color:#ffd23c;}
.logoNav .depth2 { position:absolute; 
    top:80%; left:0;
    width:168px;  /*ul li 서브메뉴 만들기*/
    background:#fff;
    border-radius:5px;
    padding:0 15px;
    box-shadow:0px 0px 15px #ddd;
    display:none;
}
.logoNav .depth2:before {
    content:''; position:absolute;
    bottom:100%; left:15px;
    border-bottom:10px solid #fff;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    z-index:9999;
}
.logoNav .depth1 > li:hover .depth2 { display:block }
.logoNav .depth2 > li { line-height:38px;
    color:#ffae3d;
}
.logoNav .depth2 > li > a:hover { color:#ffd23c; }
.slideOuter { height:600px; overflow:hidden;
    position:relative;
}
#section { padding-top:117px;}
.slideOuter .arr {
    position:absolute; top:50%;
    transform:translateY(-50%);
    font-size:80px;
    color:#fff;
}
.slideOuter .prev { left:100px; }
.slideOuter .next { right:100px; }
.slideOuter .dotBox {
    position:absolute;
    bottom:20px;
    left:50%;
    transform:translateX(-50%)
}
.slideOuter .dotBox a {
    display:inline-block;
    width:15px; height:15px;
    background: #fff;
    opacity:0.6;
    border-radius:50%;
}
.slideOuter .dotBox a.active {
    opacity:1;
}
.slideInner > div { height:600px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    position:relative;
}
.slideInner > div:before {
    content:'';
    position:absolute;
    top:0; left:0; bottom:0; right:0;
    background:rgba(0,0,0,0.2);
}
.slideInner > div:first-child { background-image:url(../images/main-cover1.min.jpg)}
.slideInner > div:last-child { background-image:url(../images/main-cover2.min.jpg)}
.slideInner > div > .text {
    position:absolute; top:50%; left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    color:#fff;
}
.slideInner > div > .text span {
    font-weight:bold; }

.slideInner .text > p:first-child {
    font-size:70px;
    text-shadow:-3px 3px 5px rgba(0,0,0,0.5);
}
.slideInner .text > p:nth-child(2) {
    font-size:19.25px;
    text-shadow:-2px 2px 5px rgba(0,0,0,0.5);
    margin:20px 0 30px;
}
.slideInner > div > .text > p:nth-child(2) > a:nth-child(1) {
    text-decoration:underline;
    font-weight:bold;
}
.slideInner > div > .text > p:nth-child(2) > a:nth-child(1):hover {
    color:#ffd23c;
}

.slideInner .text > p:nth-child(3) > a {
    display:inline-block;
    padding:14px 28px;
    font-size:14px;
    border-radius:4px;
}
.slideInner .text > p:nth-child(3) > a:nth-child(1) {
    color:#fff;
    background:rgba(0,0,0,0.5)
}
.slideInner .text > p:nth-child(3) > a:nth-child(2) {
    color:#000;
    background:rgba(255,255,255,0.5);
}
.slideInner .text > p:nth-child(3) > a:nth-child(1):hover {
    background:#ffd23c
}
.slideInner .text > p:nth-child(3) > a:nth-child(2):hover {
    color:#fff;
    background:rgba(255,255,255,0.5)
}

#section .title h2 {
    font-size:28px;
    font-weight:bold;
    color:#222;
    margin:20px 0 20px;
    text-align:center;
}
#section .title p {
    font-size:14px;
    color:#333;
    margin:0 0 10px;
    margin-bottom:30px;
    padding-bottom:25px;
    text-align:center;
    position:relative;
}
#section .title p:after {
    content:'';
    width:100px; height:2px; 
    background:#f77070;
    position:absolute;
    top:35px; left:50%;
    margin-left:-50px;
}
#section .title p strong {
    font-weight:bold;
}
.act {padding:80px 0;}
.act ul li { float:left; width:24%;
    height:186px;
    margin: 0 0.5%;
    background-size:cover;
    background-repeat:no-repeat;
    position:relative;
}
.act ul li:nth-child(1) {background-image:url(../images/main-business1.min.jpg);}
.act ul li:nth-child(2) {background-image:url(../images/main-business2.min.jpg);}
.act ul li:nth-child(3) {background-image:url(../images/main-business3.min.jpg);}
.act ul li:nth-child(4) {background-image:url(../images/main-business4.min.jpg);}
.act ul li:before { content:''; position:absolute;
    top:0; left:0; right:0; bottom:0; 
    opacity:0.6;
}
.act ul li:nth-child(1):before {
    
    background-color:#97bbe8
}
.act ul li:nth-child(2):before {
    background-color:#ffce8b;
}
.act ul li:nth-child(3):before {
    background-color:#97e6e8;
}
.act ul li:nth-child(4):before {
    background-color:#fbb7b7
}
.act ul li div {
    position:absolute; top:10px; left:20px;
    right:20px; bottom:10px; color:#fff;
}
.act ul li div h3 {
    font-size:19.25px;
    font-weight:bold;
    margin:10px 0;
}
.act ul li div p {
    font-size:14px;
    margin:0 0 10px;
    line-height:1.5;
}
.act ul li div a {
    font-size:12px;
    line-height:1.5;
    border:1px solid #fff;
    border-radius :3px;
    padding:5px 20px;
    letter-spacing:-0.5px;
    transition:all 0.5s;
}
.act ul li div a:hover {
    background:#f8f9fa;
    color:#212529;
}

.curriInfo { padding:84px 0 }
.curriBox > .column { float:left; width:31.66% }
.curriBox .column:nth-child(2) { margin:0 2.5%; }
.curriBox .column:first-child > div:first-child,
.curriBox .column:nth-child(3) > div:first-child { margin-bottom:15.5px; }
.curriBox .overlay { position:absolute;
    top:0; left:0; right:0; bottom:0;
    background:-webkit-linear-gradient(left, #ffd23c, #ffae3d);
    background:-moz-linear-gradient(right, #ffd23c, #ffae3d);
    background:-o-linear-gradient(right, #ffd23c, #ffae3d);
    background: linear-gradient(to right, #ffd23c, #ffae3d);/*뱡향,시작색,끝색*/

    opacity:0; /*투명도*/
    transition:all 0.5s; /*반응속도*/
}
.curriBox .column > div:hover .overlay { opacity:0.8 }
.curriBox .copy {position:absolute;
    bottom:-20px; left:20px; right:20px;
    transition:all 0.5s;
    color:#fff;
}
.curriBox .column > div:hover .copy { bottom:0;  }
.curriBox .column > div { position:relative; overflow:hidden }
.curriBox .copy h3 {
    font-size:24.5px;
    font-weight:bold;
}
.curriBox .copy p {
    font-size:14px;
    margin:15px 0;
    line-height:1.5;
    font-weight:bold;
}

.review { background:#fdeace; padding:84px 0;}
.review ul li { float:left; width:31.66% }
.review ul li:nth-child(2) { margin:0 2.5% }
.review ul li > div { position: relative; }
.review .quote { font-size:30px;
    color:#fff;
    width:56px; height:56px;
    background:#ffae3d;
    border-radius: 50%;
    text-align:center;
    line-height:56px;
    position:absolute;
    top:-28px; left:10px;
    z-index:999;
}
.review .blockQuote { background:#fff;
    font-size:17.5px;
    padding:40px 40px;
    border-radius:4px;
    font-style:italic;
    line-height:1.5;
    margin-bottom:16px;
    position: relative;
}
.review .blockQuote:after {
    content:''; position: absolute;
    top:100%; left:40px;
    border-top:15px solid #fff;
    border-left:15px solid transparent;
    border-right:15px solid transparent;/*삼각형만들기*/
}
.review .client { margin:0 0 10px 20px;
    font-size:20px;
    font-weight: bold;
    letter-spacing:-1px;
}
.review .client p:first-child { color:#ffae3e; }
.review .client p:first-child > a { color:#f87b78; }
.review .client p:first-child > a:hover { color:#ffae3e; }
.review .client p:last-child { color:rgba(255,255,255,0.7);
    font-size:16px;}

.bestChoice { background:url(../images/main-bottomBanner.min.jpg) no-repeat;
    height:160px;
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
    font-size:19.25px;
    font-weight:bold;
    text-align:center;
    color:#fff;
    letter-spacing:-1.5px;
    line-height:160px;
    position: relative;
}
.bestChoice .overlay {
    position:absolute;
    top:0; bottom:0; left:0; right:0; /*박스랑같은크기*/
    background:rgba(0,0,0,0.4);  
}    


.csNnotice { background:#f5f5f5;
    padding:90px 0;
    color:#333;
}
.csNnotice > .row > div {float: left; width:31.66%; }
.csNnotice > .row > div:nth-child(2) { margin:0 2.5% }
.csNnotice h2 {
    font-size:21px;
    font-weight:bold;
    letter-spacing:-1px;
    padding-bottom:5px;
    margin-bottom:10px;
    border-bottom:2px solid #383d41;
}
.csNnotice .cscenter p:nth-child(1),
.csNnotice .cscenter p:nth-child(2) {
    font-size:19.25px; 
    font-weight: bold;
}
.csNnotice .cscenter p:nth-child(3),
.csNnotice .cscenter p:nth-child(4) {
    font-size:14px;  
    line-height: 1.5;
}
.csNnotice .cscenter p:nth-child(3):hover {
    color:#ffae3e;
    text-decoration:underline;
}
.csNnotice .consult {
    font-size:14px;
    line-height:1.5;
}
.csNnotice .consult a {
    display:block;
    padding:10px 20px;
    width:133px;
    background:rgba(0,0,0,0.5);
    color:#fff;
    border-radius:4px;
    text-align:center;
    margin-top:10px;
}
.csNnotice .consult a:hover {background:#ffae3e;}
.csNnotice .notice li { padding:2px;}
.csNnotice .notice a { font-size:14px; }
.csNnotice .notice a:hover {color:#ffae3e; text-decoration: underline;}
.csNnotice .notice a:before { content:'ㆍ'; color:#333; }
.csNnotice .notice a:after { 
    content:'NEW';
    font-size:10px; color:#ffae3e;
    font-weight:bold;
}
.csNnotice .row > div:nth-child(3) {position: relative;}
.csNnotice .notice+.more {
    position:absolute; top:0; right:0;
    padding:5px 10px;
    background:#ffae3e;
    font-size:11px;
    border-radius:4px;
}


#footer { text-align:center; font-size:12.25px;}    
.footerMenu { background:#eee;
    color:#333;
    padding:10px;
}
.footerMenu a { padding-left: 10px; }
.footerMenu a:before {
    content:'|';
    padding-right:11px;
    font-size:12px;
    position: relative;
    top:-2px;
}
.footerMenu a:first-child:before { display:none; }

.comInfo { background:#222;
    color:rgba(255,255,255,0.5);
    padding:40px 0;
}
.comInfo .sns a { font-size:20px;
    padding:4px 10px 10px;
    display:inline-block;
}
.comInfo .sns a:hover { color:#fff; }
.comInfo .info span { letter-spacing:-1px;
    padding-left:5px;
}
.comInfo .info span:before {
    content:'|';
    padding-right:7px;
    position: relative;
    top:-1px;
 }
 .comInfo .info span:first-child:before { display:none; }
.copyright { background:#0a0a0a;
    color:#333;
    font-size:10.5px;
    padding:10px 0;
}
