@charset "utf-8";

@media only screen and (max-width:1170px) {
    .row { padding:0 10px;}
    .topmenu .login { position:absolute;
        top:10px; right:360px;
        color:#000;
    }
}
@media only screen and (max-width:992px) {
    .logoNav { position:relative;
        height:auto;
        background: #fff; 
    }
    .logoNav h1 { font-size:26.25px;
        color:#ffae3d;
        padding:24.875px 0 0;
        font-weight:bold;
        text-align:center;
    }
    .logoNav .nav .depth1 > li > a {
        padding:24.875px 0 24.875px 30px;
    }
    .logoNav .nav { position:static;
        top:0; right:0; 
        text-align:center;
    }
}

@media only screen and (max-width:841px) {
    .topmenu .login { position:absolute;
        top:10px; right:360px;
        color:#000;
        display:none;
    }
    .topmenu .search_box { 
        position:absolute;
        top:8px; right:0%;
        transform:translate(0%)
    }
    .logoNav h1 { font-size:26.25px;
        color:#ffae3d;
        padding:24.875px 0 24.875px;
        font-weight:bold;
        line-height:15.75px;
    }
    .logoNav .nav { position:static;
        top:0; right:0; 
        text-align:center;
        display:none;}

}